body {
    font-family: 'Lato', sans-serif;
}
  
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.pointer{
    cursor: pointer;
}

.competitions{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 50px 0;
}

.competition-logo{
    display: block;
    width: 100px;
}

.competition-logo img{
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}


.team-flex{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.match-fixture{
    display: flex;
    gap: 20px;
    font-size: 0.9em;
    align-items: center;
    flex-direction: column;
}

.match-fixture .match-fixture-teams{
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.match-fixture-date-time{
    font-size: 0.7em;
}